{{#block "vendor_css"}}
{{/block}}

{{#block "vendor_js"}}
{{/block}}

<div class="content-heading">
  <div class="pull-right">
    <button type="button" class='btn btn-primary btn-sm' name='syncBtn' data-js-comp="component/subscriber/sync">同步订阅者</button>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li class="active">
      <span>订阅者管理</span>
    </li>
  </ol>
</div>

<div class="row">
  <div id="list-area" class="col-md-12">
    <div class="panel panel-default">
      <div class="panel panel-body p0 m0">
        {{#unless _DATA_.result}}
        <div class="text-muted text-center pv">当前没有订阅者，请同步</div>
        {{else}}
        <table class='table tabel-striped'>
          <thead>
          <tr>
            <th class="text-left" colspan='2'>基本信息</th>
            <th class="text-center">性别</th>
            <th class="text-center">地址</th>
            <th class="text-right">关注时间</th>
          </tr>
          </thead>
          <tbody>
            {{#each _DATA_.result}}
            <tr data-id="{{{_id}}}">
              <td style='width: 64px;'>
                <img src="{{{headImgUrl}}}" style='max-width: 48px; max-height: 64px;'/>
              </td>
              <td class="text-left">
                {{nickname}} <br/>
                <small class="text-muted">备注：{{#if remark}}{{remark}}{{else}}无{{/if}}</small>
              </td>
              <td class="text-center">
                <span class='text-muted'>{{weSex gender}}</span>
              </td>
              <td class="text-center">
                {{country}} {{province}} {{city}}
                {{#unless country}}{{#unless province}}{{#unless city}}-{{/unless}}{{/unless}}{{/unless}}
              </td>
              <td class="text-right">
                <small class="text-muted">{{date subscribeTime "yyyy-MM-dd HH:mm:ss"}}</small>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{>pagination}}
        {{/unless}}
      </div>
    </div>
  </div>
</div>