{{#block "vendor_css"}}
{{/block}}

{{#block "vendor_js"}}
<!--加modal模板-->
{{>modal/createImageModal}}
{{/block}}

<div class="content-heading">
  <div class="pull-right">
    <button type="button" class='btn btn-green btn-sm' name='addImageBtn' data-js-comp='component/material/createImage'>上传图片素材</button>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li class="active">
      <span>图片素材管理</span>
    </li>
  </ol>
</div>

<input type="hidden" data-js-comp='component/common/img_preview'>
<input type="hidden" data-js-comp='component/material/deleteImage'>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-body p0">
        {{#unless _DATA_.result}}
        <div class="text-muted text-center pv">当前没有图片</div>
        {{else}}
        <table class='table tabel-striped'>
          <thead>
          <tr>
            <th class="text-left">图片名称</th>
            <th class="text-left">Media Id</th>
            <th class="text-center">上传时间</th>
            <th class="text-right">操作</th>
          </tr>
          </thead>
          <tbody>
            {{#each _DATA_.result}}
            <tr data-id="{{{media_id}}}" data-name="{{name}}" data-hint="{{hint}}">
              <td name="name">{{name}}</td>
              <td name="mediaId"><small>{{media_id}}</small></td>
              <td class="text-center">
                <small class="text-muted">{{date update_time 'yyyy-MM-dd HH:mm:ss'}}</small>
              </td>
              <td class="text-right">
                <a href="javascript:;" name='previewImageBtn' data-url="/admin/material/image/preview?mediaId={{{media_id}}}">预览</a>
                <a href="javascript:;" name='deleteImageBtn'>删除</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{> pagination}}
        {{/unless}}
      </div>
    </div>
  </div>
</div>