{{#block "vendor_css"}}
{{/block}}

{{#block "vendor_js"}}
<!--加modal模板-->
<script type="text/html" id='create1-tpl'>
  <div class="modal fade" id="create1" tabindex="-1" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
        <h4 class="modal-title" id="createLabel">增加消息组</h4>
      </div>
      <form id='group-form'>
        <div class="modal-body">
          <div class="form-group">
            <label>回复时间（单位：秒）</label>
            <input type="number" name='waitSeconds' min="0" placeholder="关注多少秒后回复该消息组？" class="form-control" required autocomplete="off">
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-green" name='submitBtn'>增加消息组</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</script>
{{>modal/createImageModal}}
{{/block}}

<div class="content-heading">
  <div class="pull-right">
    <button class="btn btn-green" name="addGroupBtn" data-js-comp="component/subscribeReply/create">增加消息组</button>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li class="active">
      <span>关注回复管理</span>
    </li>
  </ol>
</div>

<input type="hidden" data-js-comp="component/common/img_preview">
<input type="hidden" data-js-comp="component/subscribeReply/modify">
<input type="hidden" data-js-comp="component/subscribeReply/delete">

<div class="row">
  <div id="detail-area" class="col-md-12">
    {{#each _DATA_.result}}
    <div class="panel panel-default" data-id="{{_id}}">
      <div class="panel-heading">
        等待 <b>{{waitSeconds}}</b> 秒后回复
        <button class="btn btn-xs btn-danger pull-right" name="deleteReplyBtn">删除</button>
        <button class="btn btn-xs btn-warning pull-right mr-sm" name="modifyReplyBtn">编辑</button>
      </div>
      <div class="panel-body pv0">
        <ul class="message-bubble-list">
          {{#unless messages}}
            <p class="text-muted text-center">无消息</p>
          {{else}}
            {{#each messages}}
              {{#equals type "image"}}
              <li>
                <a href="javascript:;" name="previewImageBtn" data-url="/admin/material/image/preview?mediaId={{{mediaId}}}">
                  <img src="/admin/material/image/preview?mediaId={{{mediaId}}}">
                </a>
              </li>
              {{/equals}}
              {{#equals type "text"}}
              <li>
                <span>{{content}}</span>
              </li>
              {{/equals}}
            {{/each}}
          {{/unless}}
        </ul>
      </div>
    </div>
    {{/each}}
  </div>
</div>