<div class="aside-inner">
  <nav data-sidebar-anyclick-close="" class="sidebar" data-js-comp="component/common/sidebar">
    <ul class="nav">
      <li class="nav-heading">
        <span>概览</span>
      </li>
      {{#startsWith _PATH_ "/admin/dashboard" }}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/admin/dashboard" title="控制台">
          <em class="fa fa-tachometer"></em>
          <span>控制台</span>
        </a>
      </li>

      <li class="nav-heading">
        <span>管理</span>
      </li>

      {{#startsWith _PATH_ "/admin/activity"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/admin/activity" title="扫码返图">
          <em class="fa fa-star"></em>
          <span>扫码返图</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/admin/subscriber"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/admin/subscriber" title="订阅者管理">
          <em class="fa fa-user"></em>
          <span>订阅者管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/admin/menu"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/admin/menu" title="自定义菜单管理">
          <em class="fa fa-list"></em>
          <span>自定义菜单管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/admin/replyQueue"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/admin/replyQueue" title="消息队列管理">
          <em class="fa fa-commenting"></em>
          <span>回复队列管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/admin/subscribeReply"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/admin/subscribeReply" title="关注定时回复">
          <em class="fa fa-feed"></em>
          <span>关注定时回复</span>
        </a>
      </li>
      

      {{#startsWith _PATH_ "/admin/material/image"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/admin/material/image" title="图片素材管理">
          <em class="fa fa-image"></em>
          <span>图片素材管理</span>
        </a>
      </li>

      {{#startsWith _PATH_ "/root/user"}}
      <li class="active">
      {{else}}
      <li>
      {{/startsWith}}
        <a href="/root/user" title="运营账号管理">
          <em class="fa fa-lock"></em>
          <span>运营账号管理</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
