{{#block "vendor_css"}}
{{/block}}

{{#block "vendor_js"}}
{{/block}}

<div class="content-heading" data-js-comp="component/invitationCard/index">
  <div class="pull-right">
    <span style="font-size: 1.5rem;">邀请开关：</span>
    <label class="switch switch-lg">
      <input type="checkbox" id="invitation-switch" checked="checked">
      <span></span>
    </label>
    <button type="button" class='btn btn-primary btn-sm'>奖励配置</button>
    <a type="button" class='btn btn-primary btn-sm' href="/admin/invitationCard/settings">邀请卡配置</a>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li class="active">
      <span>邀请卡管理</span>
    </li>
  </ol>
</div>

<div class="row">
  <div id="list-area" class="col-md-12">
    <div class="panel panel-default">
      <div class="panel panel-body p0 m0">
        {{#unless _DATA_.result}}
        <div class="text-muted text-center pv">当前没有邀请卡领取记录</div>
        {{else}}
        <table class='table tabel-striped'>
          <thead>
          <tr>
            <th class="text-left" colspan='2'>基本信息</th>
            <th class="text-center">性别</th>
            <th class="text-center">地址</th>
            <th class="text-center">领取时间</th>
            <th class="text-right">邀请人数</th>
          </tr>
          </thead>
          <tbody>
            {{#each _DATA_.result}}
            <tr data-id="{{{_id}}}" style="height: 65px;">
              <td style='width: 64px;'>
                <img src="{{{subscriber.headImgUrl}}}" style='max-width: 48px; max-height: 64px;'/>
              </td>
              <td class="text-left">
                {{subscriber.nickname}} <br/>
                <small class="text-muted">备注：{{#if subscriber.remark}}{{subscriber.remark}}{{else}}无{{/if}}</small>
              </td>
              <td class="text-center">
                <span class='text-muted'>{{weSex subscriber.gender}}</span>
              </td>
              <td class="text-center">
                {{subscriber.country}} {{subscriber.province}} {{subscriber.city}}
                {{#unless subscribercountry}}{{#unless subscriber.province}}{{#unless subscriber.city}}-{{/unless}}{{/unless}}{{/unless}}
              </td>
              <td class="text-center">
                <small class="text-muted">{{date createdAt "yyyy-MM-dd HH:mm:ss"}}</small>
              </td>
              <td class="text-right">
                <small>{{invitedCount}}</small>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{>pagination}}
        {{/unless}}
      </div>
    </div>
  </div>
</div>