{{#block "vendor_css"}}
{{/block}}

{{#block "vendor_js"}}
<!--加modal模板-->
<script type="text/html" id='create-message-tpl'>
  <div class="modal fade" id="create-message" tabindex="-1" role="dialog" aria-labelledby="createLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
        <h4 class="modal-title" id="createLabel">创建模板消息</h4>
      </div>
      <form id='message-form'>
        <div class="modal-body">
          <div class="form-group">
            <label>备注名称</label>
            <input type="text" name='name' placeholder="请输入备注名称" class="form-control" required autocomplete="off">
          </div>
          <div class="form-group">
            <label>模板</label>
            <select name="templateId" class="form-control">
            </select>
          </div>
          <div class="form-group">
            <label>URL</label>
            <input type="text" name='url' placeholder="请输入跳转到的链接" class="form-control" autocomplete="off">
          </div>
          <section id="params-area">
            
          </section>
          <section id="preview-area">
            <div class="form-group">
              <label>预览</label>
              <pre></pre>
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-green" name='submitBtn'>提交</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</script>
<script type="text/html" id='modify-message-tpl'>
  <div class="modal fade" id="modify-message" tabindex="-1" role="dialog" aria-labelledby="modifyLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
        <h4 class="modal-title" id="modifyLabel">修改模板消息</h4>
      </div>
      <form id='message-form'>
        <div class="modal-body">
          <div class="form-group">
            <label>备注名称</label>
            <input type="text" name='name' placeholder="请输入备注名称" class="form-control" required autocomplete="off">
          </div>
          <div class="form-group">
            <label>模板</label>
            <select name="templateId" class="form-control">
            </select>
          </div>
          <div class="form-group">
            <label>URL</label>
            <input type="text" name='url' placeholder="请输入跳转到的链接" class="form-control" autocomplete="off">
          </div>
          <section id="params-area">
            
          </section>
          <section id="preview-area">
            <div class="form-group">
              <label>预览</label>
              <pre></pre>
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-green" name='submitBtn'>提交</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        </div>
      </form>
    </div>
  </div>
</script>
<script type="text/html" id='preview-message-tpl'>
  <div class="modal fade" id="preview-message" tabindex="-1" role="dialog" aria-labelledby="previewLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"> &times;</button>
        <h4 class="modal-title" id="previewLabel">模板消息预览</h4>
      </div>
      <form id='message-form'>
        <div class="modal-body">
          <div class="form-group">
            <label>URL</label>
            <input type="text" name='url' placeholder="请输入跳转到的链接" class="form-control" autocomplete="off" disabled>
          </div>
          <section id="preview-area">
            <div class="form-group">
              <label>预览</label>
              <pre></pre>
            </div>
          </section>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        </div>
      </form>
    </div>
  </div>
</script>
{{/block}}

<div class="content-heading">
  <div class="pull-right">
    <button type="button" class='btn btn-green btn-sm' name='addMessageBtn' data-js-comp="component/templateGroupSend/create">新建模板消息</button>
  </div>
  <ol class="breadcrumb">
    <li>
      <span>管理</span>
    </li>
    <li class="active">
      <span>模板消息群发</span>
    </li>
  </ol>
</div>

<input type="hidden" data-js-comp="component/templateGroupSend/groupSend">
<input type="hidden" data-js-comp="component/templateGroupSend/preview">
<input type="hidden" data-js-comp="component/templateGroupSend/modify">
<input type="hidden" data-js-comp="component/templateGroupSend/delete">

<div class="row">
  <div id="list-area" class="col-md-12">
    <div class="panel panel-default">
      <div class="panel panel-body p0 m0">
        {{#unless _DATA_.result}}
        <div class="text-muted text-center pv">当前没有模板消息</div>
        {{else}}
        <table class='table tabel-striped'>
          <thead>
          <tr>
            <th class="text-left">消息备注名称</th>
            <th class="text-left">模板ID</th>
            <th class="text-center">创建时间</th>
            <th class="text-right">操作</th>
          </tr>
          </thead>
          <tbody>
            {{#each _DATA_.result}}
            <tr data-id="{{{_id}}}" data-name="{{name}}" data-hint="{{hint}}">
              <td>{{name}}</td>
              <td>{{templateId}}</td>
              <td class="text-center">
                <span class="text-sm text-muted">{{date createdAt "yyyy-MM-dd HH:mm:ss"}}</span>
              </td>
              <td class="text-right">
                <a href="javascript:;" name='groupSendBtn'>群发</a>
                <a href="javascript:;" name='messagePreviewBtn'>预览</a>
                <a href="/admin/templateGroupSend/{{_id}}/log">日志</a>
                <a href="javascript:;" name='modifyMessageBtn'>编辑</a>
                <a href="javascript:;" name='deleteMessageBtn'>删除</a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{>pagination}}
        {{/unless}}
      </div>
    </div>
  </div>
</div>
